
<h2 class="text"  >Welcome to Bank Application</h2>

<div class="account">
  <button color='primary' mat-raised-button (click)="openDialog()">Create Account</button>
</div>

<div class ="parent">
<mat-icon color='primary'>email</mat-icon>&nbsp;
<mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput>
</mat-form-field>
<br>
<mat-icon color='primary'>visibility</mat-icon>&nbsp;
<mat-form-field appearance="outline">
  <mat-label>Enter your Password</mat-label>
  <input matInput>
</mat-form-field>
<br>
</div>

<div class="loginbutton">
<button color='primary' mat-raised-button (click)="openDialog()">Login</button>
</div>

      
  